/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Hammersmith One', sans-serif;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */

}
.container-fluid{
    padding-left: 0px; /* voor footer*/
    padding-right: 0px;
}
.container{
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   /*height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.progress{
    margin-bottom: 0px;
    border-radius: 0px;
}

